#
# cron.d/yanic_collector -- schedules periodic wget of yanic .json data
#
# Copyright © technik <technik@freifunk-siegburg.de>
# distributed under the terms of GPL 2.0
#

# gw's tdf
* * * * * root wget http://4.fftdf.de/graph.json -O /opt/data/tdf4/graph.json
* * * * * root wget http://4.fftdf.de/meshviewer.json -O /opt/data/tdf4/meshviewer.json
* * * * * root wget http://4.fftdf.de/nodelist.json -O /opt/data/tdf4/nodelist.json
* * * * * root wget http://4.fftdf.de/nodes.json -O /opt/data/tdf4/nodes.json
* * * * * root wget http://5.fftdf.de/graph.json -O /opt/data/tdf5/graph.json
* * * * * root wget http://5.fftdf.de/meshviewer.json -O /opt/data/tdf5/meshviewer.json
* * * * * root wget http://5.fftdf.de/nodelist.json -O /opt/data/tdf5/nodelist.json
* * * * * root wget http://5.fftdf.de/nodes.json -O /opt/data/tdf5/nodes.json
* * * * * root wget http://6.fftdf.de/graph.json -O /opt/data/tdf6/graph.json
* * * * * root wget http://6.fftdf.de/meshviewer.json -O /opt/data/tdf6/meshviewer.json
* * * * * root wget http://6.fftdf.de/nodelist.json -O /opt/data/tdf6/nodelist.json
* * * * * root wget http://6.fftdf.de/nodes.json -O /opt/data/tdf6/nodes.json
# gw's su
* * * * * root wget http://fgw01.freifunk-siegburg.de/graph.json -O /opt/data/fgw01/graph.json
* * * * * root wget http://fgw01.freifunk-siegburg.de/meshviewer.json -O /opt/data/fgw01/meshviewer.json
* * * * * root wget http://fgw01.freifunk-siegburg.de/nodelist.json -O /opt/data/fgw01/nodelist.json
* * * * * root wget http://fgw01.freifunk-siegburg.de/nodes.json -O /opt/data/fgw01/nodes.json
#* * * * * root wget http://fgw02.freifunk-siegburg.de/graph.json -O /opt/data/fgw02/graph.json
#* * * * * root wget http://fgw02.freifunk-siegburg.de/meshviewer.json -O /opt/data/fgw02/meshviewer.json
#* * * * * root wget http://fgw02.freifunk-siegburg.de/nodelist.json -O /opt/data/fgw02/nodelist.json
#* * * * * root wget http://fgw02.freifunk-siegburg.de/nodes.json -O /opt/data/fgw02/nodes.json
#* * * * * root wget http://fgw03.freifunk-siegburg.de/graph.json -O /opt/data/fgw03/graph.json
#* * * * * root wget http://fgw03.freifunk-siegburg.de/meshviewer.json -O /opt/data/fgw03/meshviewer.json
#* * * * * root wget http://fgw03.freifunk-siegburg.de/nodelist.json -O /opt/data/fgw03/nodelist.json
#* * * * * rooot wget http://fgw03.freifunk-siegburg.de/nodes.json -O /opt/data/fgw03/nodes.json
* * * * * root wget http://fgw04.freifunk-siegburg.de/graph.json -O /opt/data/fgw04/graph.json
* * * * * root wget http://fgw04.freifunk-siegburg.de/meshviewer.json -O /opt/data/fgw04/meshviewer.json
* * * * * root wget http://fgw04.freifunk-siegburg.de/nodelist.json -O /opt/data/fgw04/nodelist.json
* * * * * root wget http://fgw04.freifunk-siegburg.de/nodes.json -O /opt/data/fgw04/nodes.json
# gw's mck/rhb
