#
# cron.d/yanic_collector -- schedules periodic wget of yanic .json data
#
# Copyright © technik <technik@freifunk-siegburg.de>
# distributed under the terms of GPL 2.0
#

# gw's tdf
# tdf4
* * * * * root wget -U yanic_collector -q http://4.fftdf.de/graph.json -O /opt/data/tdf4/graph.json; cp /opt/data/tdf4/graph.json /opt/data/tdf4/tdf/graph.json >/dev/null 2>&1
* * * * * root wget -U yanic_collector -q http://4.fftdf.de/meshviewer.json -O /opt/data/tdf4/meshviewer.json; cp opt/data/tdf4/meshviewer.json /opt/data/tdf4/tdf/meshviewer.json >/dev/null 2>&1
* * * * * root wget -U yanic_collector -q http://4.fftdf.de/nodelist.json -O /opt/data/tdf4/nodelist.json; cp /opt/data/tdf4/nodelist.json /opt/data/tdf4/tdf/nodelist.json  >/dev/null 2>&1
* * * * * root wget -U yanic_collector -q http://4.fftdf.de/nodes.json -O /opt/data/tdf4/nodes.json; /opt/data/jsoncheck.pl /opt/data/tdf4/nodes.json /opt/data/tdf4/tdf/nodes.json >/dev/null 2>&1
# tdf5
* * * * * root wget -U yanic_collector -q http://5.fftdf.de/graph.json -O /opt/data/tdf5/graph.json; cp /opt/data/tdf5/graph.json /opt/data/tdf5/inn/graph.json >/dev/null 2>&1
* * * * * root wget -U yanic_collector -q http://5.fftdf.de/meshviewer.json -O /opt/data/tdf5/meshviewer.json; cp /opt/data/tdf5/meshviewer.json /opt/data/tdf5/inn/meshviewer.json >/dev/null 2>&1
* * * * * root wget -U yanic_collector -q http://5.fftdf.de/nodelist.json -O /opt/data/tdf5/nodelist.json; cp /opt/data/tdf5/nodelist.json /opt/data/tdf5/inn/nodelist.json >/dev/null 2>&1
* * * * * root wget -U yanic_collector -q http://5.fftdf.de/nodes.json -O /opt/data/tdf5/nodes.json; /opt/data/jsoncheck.pl /opt/data/tdf5/nodes.json /opt/data/tdf5/inn/nodes.json>/dev/null 2>&1
# tdf6
* * * * * root wget -U yanic_collector -q http://6.fftdf.de/graph.json -O /opt/data/tdf6/graph.json; cp /opt/data/tdf6/graph.json /opt/data/tdf6/flu/graph.json >/dev/null 2>&1
* * * * * root wget -U yanic_collector -q http://6.fftdf.de/meshviewer.json -O /opt/data/tdf6/meshviewer.json; cp /opt/data/tdf6/meshviewer.json /opt/data/tdf6/flu/meshviewer.json >/dev/null 2>&1
* * * * * root wget -U yanic_collector -q http://6.fftdf.de/nodelist.json -O /opt/data/tdf6/nodelist.json; cp /opt/data/tdf6/nodelist.json /opt/data/tdf6/inn/nodelist.json >/dev/null 2>&1
* * * * * root wget -U yanic_collector -q http://6.fftdf.de/nodes.json -O /opt/data/tdf6/nodes.json; /opt/data/jsoncheck.pl /opt/data/tdf6/nodes.json /opt/data/tdf6/inn/nodes.json>/dev/null 2>&1
# alter mapserver su
* * * * * root wget -U yanic_collector -q https://map.freifunk-siegburg.de/data/graph.json  -O /opt/data/mapsu/graph.json >/dev/null 2>&1
* * * * * root wget -U yanic_collector -q https://map.freifunk-siegburg.de/data/nodelist.json  -O /opt/data/mapsu/nodelist.json >/dev/null 2>&1
* * * * * root wget -U yanic_collector -q https://map.freifunk-siegburg.de/data/nodes.json -O /opt/data/mapsu/nodes.json >/dev/null 2>&1
# gw's su
# fgw01
# 07
* * * * * root wget -U yanic_collector -q -4 http://fgw01.freifunk-siegburg.de/07_graph.json -O /opt/data/fgw01/07_graph.json; cp /opt/data/fgw01/07_graph.json opt/data/fgw01/domain07/graph.json >/dev/null 2>&1
* * * * * root wget -U yanic_collector -q -4 http://fgw01.freifunk-siegburg.de/07_meshviewer.json -O /opt/data/fgw01/07_meshviewer.json; cp  /opt/data/fgw01/07_meshviewer.json /opt/data/fgw01/domain07/meshviewer.json>/dev/null 2>&1
* * * * * root wget -U yanic_collector -q -4 http://fgw01.freifunk-siegburg.de/07_nodelist.json -O /opt/data/fgw01/07_nodelist.json; cp /opt/data/fgw01/07_nodelist.json /opt/data/fgw01/domain07/nodelist.json >/dev/null 2>&1
* * * * * root wget -U yanic_collector -q -4 http://fgw01.freifunk-siegburg.de/07_nodes.json -O /opt/data/fgw01/07_nodes.json; /opt/data/jsoncheck.pl /opt/data/fgw01/07_nodes.json /opt/data/fgw01/domain07/nodes.json>/dev/null 2>&1
# fgw02
# 01
* * * * * root wget -U yanic_collector -q -4 http://fgw02.freifunk-siegburg.de/01_graph.json -O /opt/data/fgw02/01_graph.json; cp /opt/data/fgw02/01_graph.json /opt/data/fgw02/domain01/graph.json >/dev/null 2>&1
* * * * * root wget -U yanic_collector -q -4 http://fgw02.freifunk-siegburg.de/01_meshviewer.json -O /opt/data/fgw02/01_meshviewer.json; cp /opt/data/fgw02/01_meshviewer.json /opt/data/fgw02/domain01/meshviewer.json >/dev/null 2>&1
* * * * * root wget -U yanic_collector -q -4 http://fgw02.freifunk-siegburg.de/01_nodelist.json -O /opt/data/fgw02/01_nodelist.json; cp /opt/data/fgw02/01_nodelist.json /opt/data/fgw02/domain01/nodelist.json >/dev/null 2>&1
* * * * * root wget -U yanic_collector -q -4 http://fgw02.freifunk-siegburg.de/01_nodes.json -O /opt/data/fgw02/01_nodes.json; /opt/data/jsoncheck.pl /opt/data/fgw02/01_nodes.json /opt/data/fgw02/domain01/nodes.json >/dev/null 2>&1
# 03
* * * * * root wget -U yanic_collector -q -4 http://fgw02.freifunk-siegburg.de/03_graph.json -O /opt/data/fgw02/03_graph.json; cp /opt/data/fgw02/03_graph.json /opt/data/fgw02/domain03/graph.json >/dev/null 2>&1
* * * * * root wget -U yanic_collector -q -4 http://fgw02.freifunk-siegburg.de/03_meshviewer.json -O /opt/data/fgw02/03_meshviewer.json; cp /opt/data/fgw02/03_meshviewer.json /opt/data/fgw02/domain03/meshviewer.json >/dev/null 2>&1
* * * * * root wget -U yanic_collector -q -4 http://fgw02.freifunk-siegburg.de/03_nodelist.json -O /opt/data/fgw02/03_nodelist.json; cp /opt/data/fgw02/03_nodelist.json /opt/data/fgw02/domain03/nodelist.json >/dev/null 2>&1
* * * * * root wget -U yanic_collector -q -4 http://fgw02.freifunk-siegburg.de/03_nodes.json -O /opt/data/fgw02/03_nodes.json; /opt/data/jsoncheck.pl /opt/data/fgw02/03_nodes.json /opt/data/fgw02/domain03/nodes.json  >/dev/null 2>&1
# fgw03
# 04
* * * * * root wget -U yanic_collector -q -4 http://fgw03.freifunk-siegburg.de/04_graph.json -O /opt/data/fgw03/04_graph.json; cp /opt/data/fgw03/04_graph.json /opt/data/fgw03/domain04/graph.json >/dev/null 2>&1
* * * * * root wget -U yanic_collector -q -4 http://fgw03.freifunk-siegburg.de/04_meshviewer.json -O /opt/data/fgw03/04_meshviewer.json; cp /opt/data/fgw03/04_meshviewer.json /opt/data/fgw03/domain04/meshviewer.json >/dev/null 2>&1
* * * * * root wget -U yanic_collector -q -4 http://fgw03.freifunk-siegburg.de/04_nodelist.json -O /opt/data/fgw03/04_nodelist.json; cp /opt/data/fgw03/04_nodelist.json /opt/data/fgw03/domain04/nodelist.json >/dev/null 2>&1
* * * * * root wget -U yanic_collector -q -4 http://fgw03.freifunk-siegburg.de/04_nodes.json -O /opt/data/fgw03/04_nodes.json; /opt/data/jsoncheck.pl /opt/data/fgw03/04_nodes.json /opt/data/fgw03/domain04/nodes.json >/dev/null 2>&1
# 05
* * * * * root wget -U yanic_collector -q -4 http://fgw03.freifunk-siegburg.de/05_graph.json -O /opt/data/fgw03/05_graph.json; cp /opt/data/fgw03/05_graph.json /opt/data/fgw03/domain05/graph.json >/dev/null 2>&1
* * * * * root wget -U yanic_collector -q -4 http://fgw03.freifunk-siegburg.de/05_meshviewer.json -O /opt/data/fgw03/05_meshviewer.json; cp /opt/data/fgw03/05_meshviewer.json /opt/data/fgw03/domain05/meshviewer.json >/dev/null 2>&1
* * * * * root wget -U yanic_collector -q -4 http://fgw03.freifunk-siegburg.de/05_nodelist.json -O /opt/data/fgw03/05_nodelist.json; cp /opt/data/fgw03/05_nodelist.json /opt/data/fgw03/domain05/nodelist.json >/dev/null 2>&1
* * * * * root wget -U yanic_collector -q -4 http://fgw03.freifunk-siegburg.de/05_nodes.json -O /opt/data/fgw03/05_nodes.json; /opt/data/jsoncheck.pl /opt/data/fgw03/05_nodes.json /opt/data/fgw03/domain05/nodes.json >/dev/null 2>&1
# 11
* * * * * root wget -U yanic_collector -q -4 http://fgw03.freifunk-siegburg.de/11_graph.json -O /opt/data/fgw03/11_graph.json; cp /opt/data/fgw03/11_graph.json /opt/data/fgw03/domain11/graph.json  >/dev/null 2>&1
* * * * * root wget -U yanic_collector -q -4 http://fgw03.freifunk-siegburg.de/11_meshviewer.json -O /opt/data/fgw03/11_meshviewer.json; cp /opt/data/fgw03/11_meshviewer.json /opt/data/fgw03/domain11/meshviewer.json >/dev/null 2>&1
* * * * * root wget -U yanic_collector -q -4 http://fgw03.freifunk-siegburg.de/11_nodelist.json -O /opt/data/fgw03/11_nodelist.json; cp /opt/data/fgw03/11_nodelist.json /opt/data/fgw03/domain11/nodelist.json >/dev/null 2>&1
* * * * * root wget -U yanic_collector -q -4 http://fgw03.freifunk-siegburg.de/11_nodes.json -O /opt/data/fgw03/11_nodes.json; /opt/data/jsoncheck.pl /opt/data/fgw03/11_nodes.json /opt/data/fgw03/domain11/nodes.json >/dev/null 2>&1
# 14
* * * * * root wget -U yanic_collector -q -4 http://fgw03.freifunk-siegburg.de/14_graph.json -O /opt/data/fgw03/14_graph.json; cp /opt/data/fgw03/14_graph.json /opt/data/fgw03/domain14/graph.json >/dev/null 2>&1
* * * * * root wget -U yanic_collector -q -4 http://fgw03.freifunk-siegburg.de/14_meshviewer.json -O /opt/data/fgw03/14_meshviewer.json; cp /opt/data/fgw03/14_meshviewer.json /opt/data/fgw03/domain14/meshviewer.json >/dev/null 2>&1
* * * * * root wget -U yanic_collector -q -4 http://fgw03.freifunk-siegburg.de/14_nodelist.json -O /opt/data/fgw03/14_nodelist.json; cp /opt/data/fgw03/14_nodelist.json /opt/data/fgw03/domain14/nodelist.json >/dev/null 2>&1
* * * * * root wget -U yanic_collector -q -4 http://fgw03.freifunk-siegburg.de/14_nodes.json -O /opt/data/fgw03/14_nodes.json; /opt/data/jsoncheck.pl /opt/data/fgw03/14_nodes.json /opt/data/fgw03/domain14/nodes.json >/dev/null 2>&1
# fgw04
# 07
* * * * * root wget -U yanic_collector -q -4 http://fgw04.freifunk-siegburg.de/07_graph.json -O /opt/data/fgw04/07_graph.json; cp /opt/data/fgw04/07_graph.json /opt/data/fgw04/domain07/graph.json >/dev/null 2>&1
* * * * * root wget -U yanic_collector -q -4 http://fgw04.freifunk-siegburg.de/07_meshviewer.json -O /opt/data/fgw04/07_meshviewer.json; cp /opt/data/fgw04/07_meshviewer.json /opt/data/fgw04/domain07/meshviewer.json >/dev/null 2>&1
* * * * * root wget -U yanic_collector -q -4 http://fgw04.freifunk-siegburg.de/07_nodelist.json -O /opt/data/fgw04/07_nodelist.json; cp /opt/data/fgw04/07_nodelist.json /opt/data/fgw04/domain07/nodelist.json >/dev/null 2>&1
* * * * * root wget -U yanic_collector -q -4 http://fgw04.freifunk-siegburg.de/07_nodes.json -O /opt/data/fgw04/07_nodes.json; /opt/data/jsoncheck.pl /opt/data/fgw04/07_nodes.json /opt/data/fgw04/domain07/nodes.json >/dev/null 2>&1
# 11
* * * * * root wget -U yanic_collector -q -4 http://fgw04.freifunk-siegburg.de/11_graph.json -O /opt/data/fgw04/11_graph.json; cp /opt/data/fgw04/11_graph.json /opt/data/fgw04/domain11/graph.json >/dev/null 2>&1
* * * * * root wget -U yanic_collector -q -4 http://fgw04.freifunk-siegburg.de/11_meshviewer.json -O /opt/data/fgw04/11_meshviewer.json; cp /opt/data/fgw04/11_meshviewer.json /opt/data/fgw04/domain11/meshviewer.json >/dev/null 2>&1
* * * * * root wget -U yanic_collector -q -4 http://fgw04.freifunk-siegburg.de/11_nodelist.json -O /opt/data/fgw04/11_nodelist.json; cp /opt/data/fgw04/11_nodelist.json /opt/data/fgw04/domain11/nodelist.json >/dev/null 2>&1
* * * * * root wget -U yanic_collector -q -4 http://fgw04.freifunk-siegburg.de/11_nodes.json -O /opt/data/fgw04/11_nodes.json; /opt/data/jsoncheck.pl /opt/data/fgw04/11_nodes.json /opt/data/fgw04/domain11/nodes.json >/dev/null 2>&1
# 14
* * * * * root wget -U yanic_collector -q -4 http://fgw04.freifunk-siegburg.de/14_graph.json -O /opt/data/fgw04/14_graph.json; cp /opt/data/fgw04/14_graph.json /opt/data/fgw04/domain14/graph.json >/dev/null 2>&1
* * * * * root wget -U yanic_collector -q -4 http://fgw04.freifunk-siegburg.de/14_meshviewer.json -O /opt/data/fgw04/14_meshviewer.json; cp /opt/data/fgw04/14_meshviewer.json /opt/data/fgw04/domain14/meshviewer.json >/dev/null 2>&1
* * * * * root wget -U yanic_collector -q -4 http://fgw04.freifunk-siegburg.de/14_nodelist.json -O /opt/data/fgw04/14_nodelist.json; cp /opt/data/fgw04/14_nodelist.json /opt/data/fgw04/domain14/nodelist.json >/dev/null 2>&1
* * * * * root wget -U yanic_collector -q -4 http://fgw04.freifunk-siegburg.de/14_nodes.json -O /opt/data/fgw04/14_nodes.json; /opt/data/jsoncheck.pl /opt/data/fgw04/14_nodes.json /opt/data/fgw04/domain14/nodes.json >/dev/null 2>&1
# gw's mck/rhb
