#
# cron.d/yanic_collector -- schedules periodic wget of yanic .json data
#
# Copyright © technik <technik@freifunk-siegburg.de>
# distributed under the terms of GPL 2.0
#

# gw's tdf
# tdf4
* * * * * root wget http://4.fftdf.de/graph.json -O /opt/data/tdf4/graph.json
* * * * * root wget http://4.fftdf.de/meshviewer.json -O /opt/data/tdf4/meshviewer.json
* * * * * root wget http://4.fftdf.de/nodelist.json -O /opt/data/tdf4/nodelist.json
* * * * * root wget http://4.fftdf.de/nodes.json -O /opt/data/tdf4/nodes.json
# tdf5
* * * * * root wget http://5.fftdf.de/graph.json -O /opt/data/tdf5/graph.json
* * * * * root wget http://5.fftdf.de/meshviewer.json -O /opt/data/tdf5/meshviewer.json
* * * * * root wget http://5.fftdf.de/nodelist.json -O /opt/data/tdf5/nodelist.json
* * * * * root wget http://5.fftdf.de/nodes.json -O /opt/data/tdf5/nodes.json
# tdf6
* * * * * root wget http://6.fftdf.de/graph.json -O /opt/data/tdf6/graph.json
* * * * * root wget http://6.fftdf.de/meshviewer.json -O /opt/data/tdf6/meshviewer.json
* * * * * root wget http://6.fftdf.de/nodelist.json -O /opt/data/tdf6/nodelist.json
* * * * * root wget http://6.fftdf.de/nodes.json -O /opt/data/tdf6/nodes.json
# gw's su
# fgw01
# 07
* * * * * root wget http://fgw01.freifunk-siegburg.de/07_graph.json -O /opt/data/fgw01/07_graph.json
* * * * * root wget http://fgw01.freifunk-siegburg.de/07_meshviewer.json -O /opt/data/fgw01/07_meshviewer.json
* * * * * root wget http://fgw01.freifunk-siegburg.de/07_nodelist.json -O /opt/data/fgw01/07_nodelist.json
* * * * * root wget http://fgw01.freifunk-siegburg.de/07_nodes.json -O /opt/data/fgw01/07_nodes.json
# fgw02
# 01
* * * * * root wget http://fgw02.freifunk-siegburg.de/01_graph.json -O /opt/data/fgw02/01_graph.json
* * * * * root wget http://fgw02.freifunk-siegburg.de/01_meshviewer.json -O /opt/data/fgw02/01_meshviewer.json
* * * * * root wget http://fgw02.freifunk-siegburg.de/01_nodelist.json -O /opt/data/fgw02/01_nodelist.json
* * * * * root wget http://fgw02.freifunk-siegburg.de/01_nodes.json -O /opt/data/fgw02/01_nodes.json
# 03
* * * * * root wget http://fgw02.freifunk-siegburg.de/03_graph.json -O /opt/data/fgw02/03_graph.json
* * * * * root wget http://fgw02.freifunk-siegburg.de/03_meshviewer.json -O /opt/data/fgw02/03_meshviewer.json
* * * * * root wget http://fgw02.freifunk-siegburg.de/03_nodelist.json -O /opt/data/fgw02/03_nodelist.json
* * * * * root wget http://fgw02.freifunk-siegburg.de/03_nodes.json -O /opt/data/fgw02/03_nodes.json
# fgw03
# 04
* * * * * root wget http://fgw03.freifunk-siegburg.de/04_graph.json -O /opt/data/fgw03/04_graph.json
* * * * * root wget http://fgw03.freifunk-siegburg.de/04_meshviewer.json -O /opt/data/fgw03/04_meshviewer.json
* * * * * root wget http://fgw03.freifunk-siegburg.de/04_nodelist.json -O /opt/data/fgw03/04_nodelist.json
* * * * * rooot wget http://fgw03.freifunk-siegburg.de/04_nodes.json -O /opt/data/fgw03/04_nodes.json
# 05
* * * * * root wget http://fgw03.freifunk-siegburg.de/05_graph.json -O /opt/data/fgw03/05_graph.json
* * * * * root wget http://fgw03.freifunk-siegburg.de/05_meshviewer.json -O /opt/data/fgw03/05_meshviewer.json
* * * * * root wget http://fgw03.freifunk-siegburg.de/05_nodelist.json -O /opt/data/fgw03/05_nodelist.json
* * * * * rooot wget http://fgw03.freifunk-siegburg.de/05_nodes.json -O /opt/data/fgw03/05_nodes.json
# 11
* * * * * root wget http://fgw03.freifunk-siegburg.de/11_graph.json -O /opt/data/fgw03/11_graph.json
* * * * * root wget http://fgw03.freifunk-siegburg.de/11_meshviewer.json -O /opt/data/fgw03/11_meshviewer.json
* * * * * root wget http://fgw03.freifunk-siegburg.de/11_nodelist.json -O /opt/data/fgw03/11_nodelist.json
* * * * * rooot wget http://fgw03.freifunk-siegburg.de/11_nodes.json -O /opt/data/fgw03/11_nodes.json
# 14
* * * * * root wget http://fgw03.freifunk-siegburg.de/14_graph.json -O /opt/data/fgw03/14_graph.json
* * * * * root wget http://fgw03.freifunk-siegburg.de/14_meshviewer.json -O /opt/data/fgw03/14_meshviewer.json
* * * * * root wget http://fgw03.freifunk-siegburg.de/14_nodelist.json -O /opt/data/fgw03/14_nodelist.json
* * * * * rooot wget http://fgw03.freifunk-siegburg.de/14_nodes.json -O /opt/data/fgw03/14_nodes.json
# fgw04
# 07
* * * * * root wget http://fgw04.freifunk-siegburg.de/07_graph.json -O /opt/data/fgw04/07_graph.json
* * * * * root wget http://fgw04.freifunk-siegburg.de/07_meshviewer.json -O /opt/data/fgw04/07_meshviewer.json
* * * * * root wget http://fgw04.freifunk-siegburg.de/07_nodelist.json -O /opt/data/fgw04/07_nodelist.json
* * * * * root wget http://fgw04.freifunk-siegburg.de/07_nodes.json -O /opt/data/fgw04/07_nodes.json
# 11
* * * * * root wget http://fgw04.freifunk-siegburg.de/11_graph.json -O /opt/data/fgw04/11_graph.json
* * * * * root wget http://fgw04.freifunk-siegburg.de/11_meshviewer.json -O /opt/data/fgw04/11_meshviewer.json
* * * * * root wget http://fgw04.freifunk-siegburg.de/11_nodelist.json -O /opt/data/fgw04/11_nodelist.json
* * * * * root wget http://fgw04.freifunk-siegburg.de/11_nodes.json -O /opt/data/fgw04/11_nodes.json
# 14
* * * * * root wget http://fgw04.freifunk-siegburg.de/14_graph.json -O /opt/data/fgw04/14_graph.json
* * * * * root wget http://fgw04.freifunk-siegburg.de/14_meshviewer.json -O /opt/data/14_fgw04/meshviewer.json
* * * * * root wget http://fgw04.freifunk-siegburg.de/14_nodelist.json -O /opt/data/fgw04/14_nodelist.json
* * * * * root wget http://fgw04.freifunk-siegburg.de/14_nodes.json -O /opt/data/fgw04/14_nodes.json
# gw's mck/rhb
