---
- name: create yanic data folders
  file:
    path: "{{ item }}"
    state: directory
    owner: www-data
    group: www-data
    mode: 0775
  with_items:
    - /opt/data
    - /opt/data/tdf4
    - /opt/data/tdf5
    - /opt/data/tdf6
    - /opt/data/fgw01
    - /opt/data/fgw02
    - /opt/data/fgw03
    - /opt/data/fgw04

- name: yaniccollectorcron
  template: src=yanic_collector.cron.j2 dest=/etc/cron.d/yanic_collector
  notify:
  - reload cron

