module.exports = function () {
  return {
    // Variables are NODE_ID and NODE_NAME (only a-z0-9\- other chars are replaced with _)
    'nodeInfos': [
      {
        'name': 'Clients',
        'href': 'https://{{ http_grafana_prefix }}.{{ http_domain_external }}/dashboard/db/freifunk-rsk-knoten?panelId=1&var-NODE_ID={NODE_ID}&from=now-1d&fullscreen',
        'image': 'https://{{ http_grafana_prefix }}.{{ http_domain_external }}/render/dashboard-solo/db/freifunk-rsk-knoten?panelId=1&var-NODE_ID={NODE_ID}&from=now-1d&theme=light&width=650&height=350',
        'title': 'Knoten {NODE_ID} - weitere Statistiken'
      },
      {
        'name': 'Traffic',
        'href': 'https://{{ http_grafana_prefix }}.{{ http_domain_external }}/dashboard/db/freifunk-rsk-knoten?panelId=2&var-NODE_ID={NODE_ID}&from=now-1d&fullscreen',
        'image': 'https://{{ http_grafana_prefix }}.{{ http_domain_external }}/render/dashboard-solo/db/freifunk-rsk-knoten?panelId=2&var-NODE_ID={NODE_ID}&from=now-1d&theme=light&width=650&height=350',
        'title': 'Knoten {NODE_ID} - weitere Statistiken'
      },
      {
        'name': 'Load',
        'href': 'https://{{ http_grafana_prefix }}.{{ http_domain_external }}/dashboard/db/freifunk-rsk-knoten?panelId=3&var-NODE_ID={NODE_ID}&from=now-1d&fullscreen',
        'image': 'https://{{ http_grafana_prefix }}.{{ http_domain_external }}/render/dashboard-solo/db/freifunk-rsk-knoten?panelId=3&var-NODE_ID={NODE_ID}&from=now-1d&theme=light&width=650&height=350',
        'title': 'Knoten {NODE_ID} - weitere Statistiken'
      },
      {
        'name': 'Airtime',
        'href': 'https://{{ http_grafana_prefix }}.{{ http_domain_external }}/dashboard/db/freifunk-rsk-knoten?panelId=8&var-NODE_ID={NODE_ID}&from=now-1d&fullscreen',
        'image': 'https://{{ http_grafana_prefix }}.{{ http_domain_external }}/render/dashboard-solo/db/freifunk-rsk-knoten?panelId=8&var-NODE_ID={NODE_ID}&from=now-1d&theme=light&width=650&height=350',
        'title': 'Knoten {NODE_ID} - weitere Statistiken'
      }
    ],
    'globalInfos': [
      {
        'name': 'Statistik - letzter Monat',
        'href': 'https://{{ http_grafana_prefix }}.{{ http_domain_external }}/d/000000001/freifunk-rsk-global?panelId=1&orgId=1&from=now-30d&to=now&var-INTERVAL=1d&fullscreen',
        'image': 'https://{{ http_grafana_prefix }}.{{ http_domain_external }}/render/d-solo/000000001/freifunk-rsk-global?panelId=1&orgId=1&from=now-30d&to=now&var-INTERVAL=1d&theme=light&width=650&height=350&tz=Europe%2FBerlin',
        'title': 'Statistik - letzter Monat'
      },
      {
        'name': 'Statistik - 6 Monate',
        'href': 'https://{{ http_grafana_prefix }}.{{ http_domain_external }}/d/000000001/freifunk-rsk-global?panelId=1&orgId=1&from=now-6M&to=now&var-INTERVAL=7d&fullscreen',
        'image': 'https://{{ http_grafana_prefix }}.{{ http_domain_external }}/render/d-solo/000000001/freifunk-rsk-global?panelId=1&orgId=1&from=now-6M&to=now&var-INTERVAL=7d&theme=light&width=650&height=350&tz=Europe%2FBerlin',
        'title': 'Statistik - 6 Monate'
      },
      {
        'name': 'Statistik - 1 Jahr',
        'href': 'https://{{ http_grafana_prefix }}.{{ http_domain_external }}/d/000000001/freifunk-rsk-global?panelId=1&orgId=1&from=now-1y&to=now&var-INTERVAL=14d&fullscreen',
        'image': 'https://{{ http_grafana_prefix }}.{{ http_domain_external }}/render/d-solo/000000001/freifunk-rsk-global?panelId=1&orgId=1&from=now-1y&to=now&var-INTERVAL=14d&theme=light&width=650&height=350&tz=Europe%2FBerlin',
        'title': 'Statistik - 1 Jahr'
      }
    ],
    // String or array of data provider are supported
    'dataPath': [
    // Freifunk Troisdorf Gateways
       '/opt/data/tdf4/',
       '/opt/data/tdf5/',
       '/opt/data/tdf6/',
    // Freifunk Siegburg Gateways
    // fgw01 
       '/opt/data/fgw01/domain07/',
    // fgw02
       '/opt/data/fgw02/domain01/',
       '/opt/data/fgw02/domain03/',
    /7 fgw03
       '/opt/data/fgw03/domain04/',
       '/opt/data/fgw03/domain05/',
     //  '/opt/data/fgw03/domain11/',
     //  '/opt/data/fgw03/domain14/',
     // fgw04
     //  '/opt/data/fgw04/domain07/',
       '/opt/data/fgw04/domain11/',
       '/opt/data/fgw04/domain14/'
     ],
    'siteName': 'Freifunk in Rhein-Sieg',
    'mapLayers': [
{% for layer in map_layers %}
      {
        'name': '{{ layer.name }}',
        'url': '{{ layer.url }}',
        'config': {
          'maxZoom': {{ layer.max_zoom }},
          'attribution': '{{ layer.attribution }}'
        }
      },
{% endfor %}
    ],
    // Set a visible frame
    'fixedCenter': [
      // Northwest
      [
        50.165024,
        8.528137
      ],
      // Southeast
      [
        49.895961,
        7.609406
      ]
    ],
    'domainNames': [
      {
        'domain': 'su-su',
        'name': 'Siegburg'
      },
      {
        'domain': 'su-lo',
        'name': 'Lohmar'
      },
      {
        'domain': 'su-sa',
        'name': 'Sankt Augustin'

      },
      {
        'domain': 'su-snw',
        'name': 'Soziale Netzwerke'

      },
      {
        'domain': 'su-ak',
        'name': 'Altenkirchen'

      },
      {
        'domain': 'su-nk',
        'name': 'Niederkassel'

      },
      {
        'domain': 'su-rhb',
        'name': 'Rheinbach'

      },
      {
        'domain': 'su-mck',
        'name': 'Meckenheim'

      },
      {
        'domain': 'inn',
        'name': 'Troisdorf Innenstadt'

      },
      {
        'domain': 'tdf',
        'name': 'Troisdorf Umland'

      },
      {
        'domain': 'flu',
        'name': 'Troisdorf Soziale Netze'

      }
  ]
  };
};
