---
# meshviewer

- name: create deploy directory
  file:
    path: "{{ meshviewer_path }}"
    state: directory
    mode: 0755
    owner: www-data
    group: www-data

- name: clone repo
  git:
    repo: "https://github.com/ffrgb/meshviewer.git"
    dest: "{{ meshviewer_src }}"
    version: develop
    force: yes
become: false
